body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}
input{
    width: 500px;
    height: 50px;
    margin: 15px;
    border-radius:9px ;
}
div{
    background-color: rgb(120, 113, 113);
    border-radius: 10px;
}
h1,h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    margin-left: 220px;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}


